<div class="content-center">
    <div class="companies">
        <div class="info">
            <div class="companie-vertra">
                <h1>Vertra</h1>
                <div class="logo-box-vertra">
                    <img class="logo-vertra" src="../../assets/img/vertra_logo.png" alt="Logo Vertra">
                </div>
                <div class="info-vertra">
                    <p>Período: 02-2020 - Atual</p>
                    <p>Cargo: Estagiário em suporte no desenvolvimento de software</p>
                    <p>Atuo como estagiário em desenvolvimento de software, participando em projetos de aplicações financeiras de baixa plataforma e auxiliando na construção de sistemas.</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="companie-brq">
                <h1>BRQ - Digital Solutions</h1>
                <div class="logo-box-brq">
                    <img class="logo-brq" src="../../assets/img/brq_logo.png" alt="Logo BRQ">
                </div>
                <div class="info-brq">
                    <p>Período: 08/2019 - 02/2020</p>
                    <p>Cargo: Estagiário em desenvolvimento de software</p>
                    <p>Atuei como estagiário em desenvolvimento de software, participando em projetos de aplicações financeiras de baixa plataforma e auxiliando na construção de sistemas.</p>
                    <p>Principais atividades realizadas: </p>
                    <ul>
                        <li>Auxílio em atividades de desenvolvimento em projetos da BRQ com clientes do setor bancário;</li>
                        <li>Apoio no desenvolvimento de cédulas ágeis com times multidisciplinares;</li>
                        <li>Suporte no desenvolvimento de aplicações financeiras em baixa plataforma;</li>
                        <li>Auxílio no desenvolvimento de sistemas.</li>
                    </ul>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
