/* Tags */
mat-divider {
    background-color: #4D6FB3;
    margin: 4vh;
}

/* Classes */
.companies {
    width: 60vw;
    margin-top: 2vh;
    margin-right: 1em;
    padding: 0.5em 2em;
    background-color: #F5F5F5;
    text-align: justify;
    border-radius: 1em;
}

.info {}

.companie-brq {}

.logo-box-brq {
    float: left;
    margin-right: 3vw;
    height: 45vh;
}

.logo-brq {
    width: 20vw;
    height: 40vh;
}

.logo-box-vertra {
    float: left;
    margin-right: 3vw;
    height: 30vh;
}

.logo-vertra {
    width: 20vw;
    height: 15vh;
}
