<div class="content-center">
    <div class="companies">
        <div class="info">
            <div class="companie-brq">
                <h1>BRQ - Digital Solutions</h1>
                <div class="brq-logo-box">
                    <img class="brq-logo" src="../../assets/img/brq_logo.png" alt="Logo BRQ">
                </div>
                <div class="info-brq">
                    <p>Atuo como estagiário de desenvolvimento de software, participando em projetos de aplicações financeiras de baixa plataforma e auxiliando na construção de sistemas.</p>
                    <p>Principais atividades realizadas: </p>
                    <ul>
                        <li>Auxílio em atividades de desenvolvimento em projetos da BRQ com clientes do setor bancário;</li>
                        <li>Apoio no desenvolvimento de cédulas ágeis com times multidisciplinares;</li>
                        <li>Suporte no desenvolvimento de aplicações financeiras em baixa plataforma;</li>
                        <li>Auxílio no desenvolvimento de sistemas.</li>
                    </ul>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
