<div class="content-center">
    <div class="projects">
        <div class="info">
            <div class="project-ibm">
                <h1>IBM</h1>
                <div class="ibm-logo-box">
                    <img class="ibm-logo" src="../../assets/img/ibm_logo.png" alt="Logo IBM">
                </div>
                <div class="info-project-ibm">
                    <p>Realizei um projeto para a IBM em conjunto com a FIAP - Faculdade de Informática e Administração Paulista, no qual construímos um chatbot com o objetivo de auxiliar os alunos dos cursos EAD, através do método "Pergunta e resposta", que consiste no aluno tirar a dúvida por questionar o programa, e o mesmo, através de inteligência artificial, consegue encontrar a resposta.</p>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
