<div class="content">
    <div class="about-me">
        <div class="info">
            <div class="como-trabalho info-content">
                <h1>Como trabalho</h1>
                <p>Em meus projetos, procuro:</p>
                <p> - Solucionar o problema do cliente;</p>
                <p> - Envolvê-lo ao máximo, <b>sempre fazendo</b> com que acompanhe o andamento do projeto para me dar o feedback adequado;</p>
                <p> - Fazer com que o cliente se sinta seguro e livre de preocupações que na verdade são minhas.</p>
            </div>
            <div class="experiencia info-content">
                <h1>Experiência</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima vel porro error dolores expedita praesentium. Dolore suscipit atque aut nihil quam exercitationem amet aspernatur! Labore necessitatibus dolore atque porro dignissimos.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia asperiores facere esse deserunt vel fugit cumque ipsam quod saepe delectus quasi vitae deleniti, culpa sed officia, molestiae assumenda. Minima, animi!</p>
            </div>
        </div>
        <div class="profile-picture">
            <img class="picture" src="../../assets/img/profile_picture.jpeg" alt="Foto de perfil do Luiz Eduardo">
        </div>
    </div>
</div>
